{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block Title %} {{ produits.name }} {% endblock Title %}
{% block content %}
<div class="row d-flex justify-content-center">
    <div class="card mt-3" style="width: 300px;">
        <img src="{{ produits.barcode.url }}" class="card-img-top" alt="illustration">
        <div class="card-body">
            <h5 class="card-title">{{ produits.name }}</h5>
            <div class="card-text">
                <p>Pays : {{ produits.country_id }}</p>
                <p>Fournisseur : {{ produits.manufacturer_id }}</p>
                <p>Produit : {{ produits.number_id }}</p>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
