{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block Title %} index {% endblock Title %}
{% block content %}


<div class="container-fluid">
    <h3  class="h2 text-center">
        Barcodes créés
    </h3>
    <div class="row mt-4 d-flex justify-content-center">
        <div class="col-lg-8">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col">Fournisseur</th>
                    <th scope="col">Numero</th>
                    <th scope="col" class="text-center">Barcode</th>

                </tr>
                </thead>
                <tbody>
                {% for element in produits %}
                <tr>
                    <th scope="row">{{ element.name }}</th>
                    <td> {{ element.manufacturer_id}} </td>
                    <td> {{ element.number_id}} </td>
                    <td> <a href="{{ element.barcode.url }}" target="_blank"><img src="{{ element.barcode.url }}" alt="barcode" style="width:250px"></a></td>
                    <td><button type="button" class="btn btn-primary btn-sm" value="">
                            <a class="text-light" href="{% url 'update' element.pk %}">Modifier</a>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" value="">
<!--                            <a class="text-light" href="{% url 'delete' element.pk %}">Supprimer</a>-->
                            <a class="text-light" href="{% url 'delete' element.pk %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                </svg>
                            </a>
                        </button>
                        <button type="button" class="btn btn-outline-secondary btn-sm">
                            <a class="text-light" href="{{ element.barcode.url }}" download><img src="{% static 'images/download.svg' %}" alt=""></a>
                        </button>
                    </td>                   
                </tr>
                {% endfor %}
                <tr>
                    <th>
                        <button type="button" class="btn btn-success btn-sm" value="">
                            <a class="text-light" href="{% url 'create' %}">Nouveau</a>
                        </button>
                    </th>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock content %}